copa-web/src/wsdl/localhost_8080/copa-web/EquipoWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.beans.copa.matoosfe.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.beans.copa.matoosfe.com/">

<xs:element name="consultarEquipos" type="tns:consultarEquipos"/>

<xs:element name="consultarEquiposResponse" type="tns:consultarEquiposResponse"/>

<xs:element name="equipo" type="tns:equipo"/>

<xs:complexType name="consultarEquipos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarEquiposResponse">
<xs:sequence>
<xs:element name="return" type="tns:equipo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="equipo">
<xs:sequence>
<xs:element name="equAnioFundacion" type="xs:int"/>
<xs:element name="equId" type="xs:int" minOccurs="0"/>
<xs:element name="equNombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>